{% extends "mainpage.html" %}
{% block content_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

{% endblock content_head%}
{% block content_body %}

<div id="target" style="display: none">
        <h3>Listings</h3>

        {{ tables|safe }}
</div>

<script>
        $(window).on("load", function () {
                var hdb_table = document.getElementById("hdb_tableid");
               
                $(hdb_table).DataTable({
                        "columnDefs": [
                                { "width": "20%", "targets": 0 }
                        ]
                });

                var div_table = document.getElementById("target");
                div_table.style = "display"
        });
</script>
{% endblock content_body%}