<h1>View Listing Page</h1>

<form method="POST">
    <h3>dao POST test</h3>
        <input class="form-control" type="text" name="requestID" id="requestID">
        <button id="save" class="btn form-control" type="submit"><i class="fa fa-fw fa-check"></i><b>post</b></button>
</form>

<br>
<form method="GET">
    <h3>dao GET test</h3>
        <input class="form-control" type="text" name="requestID22" id="requestID22">
        <button id="save" class="btn form-control" type="submit"><i class="fa fa-fw fa-check"></i><b>get</b></button>
</form>